*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eee0e0;
}

body{
    background: #f58080f8;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
}

.logo {
    letter-spacing: 1px;
    float: left;
    color: rgb(15, 12, 12);
    font-size: 22px;
    line-height: 80px;
    padding: 0 10 em;
}

.menu {
    float: right;
    line-height: 50px;
    margin: 0 2 em;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(14, 12, 12);
    font-size: 16px;
    font-weight: lighter;
    padding: 0 20px;
}

ul li:nth-child(1) a {
    color: #0a0c0c;
    border: 1px solid #062644;
    padding: 10px 20px;
    border-radius: 4px; 
}




.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.wrapper .left{
    width: 40%;
    background: linear-gradient(to right,#f30404ce,#8b0505);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: rgb(92, 9, 9);
}

.wrapper .left img{
    margin-bottom: 20px;
    border-radius: 5px;
}

.wrapper .left h4{
    margin-bottom: 20px;
    font-size: large;
}

.wrapper .left h3{
    margin-bottom: 20px;
    font-size: medium;
    padding: 2px 2px;
    text-align: justify;
    display: inline-block;
    word-spacing: 100px;
}

.wrapper .left p{
    font-size: 20px;
}

.wrapper .left p1{
    font-size: 20px;
    margin-bottom: auto;
    line-height: 1.6;
    text-align: left;
}

.wrapper .left button{
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 24%;
    border: none;
    margin-left: -104.5px; 
    padding: 15px 30px;
    background-color: #062233;
    color: rgb(241, 213, 218);
}

.wrapper .right{
    width: 60%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
    border: 3px;
    background: #8b0505;
    background-clip: border-boxs;

}

.wrapper .right .info h3,
.wrapper .right .interests h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #251a1a;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.wrapper .right .info_data,
.wrapper .right .interests_data{
    display: inline-block;
    justify-content: space-between;
    line-height: 1.6;
}

.wrapper .right .info_data,
.wrapper .right .interests_data{
    width: 45%;
}

.wrapper .right .info_data h4,
.wrapper .right .interests_data h4{
    color: #490808;
    display: inline;
    margin-left: 10px;
}

.wrapper .right .info_data p,
.wrapper .right .interests_data p{
    font-size: 20px;
    margin-bottom: 10px;
    color: #464f58;
    margin-left: 15px;
}
